apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: lab3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: lab3-backend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: lab3-config
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: lab3
spec:
  selector:
    app: backend
  ports:
    - port: 8000
      targetPort: 8000
